/* 
    Document   : style.css
    Created on : 13.01.2013, 3:34:50
    Author     : Erko
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body > .container, body > .container-fluid {
    min-height: 500px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}


.checkbox-group {
    padding-left: 20px;
}

.container-fluid .breadcrumb {
    margin-top: 10px;
}

.leftside {
    padding: 10px 0;
}